@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter div {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.55em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 1.5s steps(19, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

@layer components {
    .post {
        @apply lg:w-half lg:m-1 md:w-full lg:mt-0 mt-2 p-4 flex flex-col items-center justify-center h-auto border-2 border-slate-100 rounded-lg;
    }
}
