<html>
    <head>
        <title>B</title>
        {% load static %}
        <link
            rel="stylesheet"
            href="{% static 'output.css' %}" />
        <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    </head>
    <body class="bg-slate-800 text-slate-200">
        {% block main %}

        <!-- nav -->
        <div class="w-full p-4">
            <!-- top left button -->
            <!-- <div
                hx-delete="{% url 'delete' %}"
                hx-target="#foo"
                class="bg-white w-6 h-6 drop-shadow-md cursor-pointer rounded-full m-2"></div> -->

            <div class="typewriter w-fit font-bold text-xl">
                <div class="tracking-wider">const marcusshep;</div>
            </div>

            <!-- login -->
            <!-- <div class="w-full flex justify-center">
                <div
                    id="foo"
                    class="">
                    baz
                </div>
            </div> -->
        </div>

        <!-- intro -->
        <div
            class="p-4 mb-10 text-5xl bg-gradient-to-r from-slate-800 from-80% to-slate-700 to-100%">
            <div class="">Tinkering;</div>
            <div class="">One Line At A Time;</div>
        </div>

        <!-- posts -->
        <div
            class="w-full p-4 flex flex-col items-center justify-center h-auto border-2 border-slate-100 rounded-lg">
            <img
                class="w-1/2 h-full"
                src="{% static 'random.jpg' %}"
                alt="" />
            <div class="text-3xl mt-10">
                Building a blog with HTMX and Tailwind
            </div>
            <div class="text-sm flex justify-center w-full mt-12">
                <div>
                    Doing everything that react can do, will 1000th of the size
                    <br />
                    Why use 100k lines of code?
                </div>
            </div>
        </div>

        {% endblock %}
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            });
        </script>
    </body>
</html>
