{% extends "base.html" %} 
{% load static %}
    {% block content %}


    <div class="flex justify-between flex-wrap">
      {% for p in posts %}

      <!--
        hx-get="/post/foobar-pop-lol"
      -->
      <a
          class="post"
          href="/post/foobar-pop-lol"
          >
          <img
              class="w-1/2 h-full"
              src="{% static p.img.url %}"
              alt="" />
          <div class="text-3xl mt-10">{{ p.title }}</div>

          <div class="text-sm flex justify-center w-full mt-12">
            <div>{{ p.sub_title }}</div>
          </div>
      </a>

      {% endfor %}

    </div>


    {% endblock content %}
