<div class="login-form-container">
  <div class="">
      Please Enter Your Credentials
  </div>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
        name="username"
        class="form-control"
        required
        [(ngModel)]="model.username"
        #username="ngModel"/>
      <div [hidden]="username.valid || username.pristine"
        class="alert alert-danger">
        Username is required
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text"
        name="password"
        class="form-control"
        required
        [(ngModel)]="model.password" />
    </div>
    <button
      type="submit"
      class="submit-btn"
      [disabled]="!userForm.form.valid"
      >
        Submit
      </button>
  </form>
</div>
